# Research material omitted from the paper replication archive.
tasks/audits export-ignore
tasks/_deprecated export-ignore
tasks/archive export-ignore
slides export-ignore
mansueto_slides export-ignore
data_raw/Boundaries_-_Zoning_Districts_20250910.geojson export-ignore
data_raw/Chicago_Wards_1998.geojson export-ignore
data_raw/Wards_2024.geojson export-ignore

# Task folders not used by paper/Makefile.
tasks/assign_segment_ids export-ignore
tasks/border_confound_pruning export-ignore
tasks/border_pair_FE_regressions export-ignore
tasks/border_pair_boundary_ambiguity export-ignore
tasks/build_zoning_councilmatic_fallback export-ignore
tasks/build_zoning_dataset export-ignore
tasks/building_permits_scraping export-ignore
tasks/calculate_ward_boundary_distances export-ignore
tasks/census_block_2020_cleaning export-ignore
tasks/clerk_journals_download export-ignore
tasks/clerk_journals_first_pass_features export-ignore
tasks/commercial_value_data_cleaning export-ignore
tasks/cook_parcel_addresses_download export-ignore
tasks/density_amenity_balance export-ignore
tasks/density_construction_zoning export-ignore
tasks/density_corner_clean_table export-ignore
tasks/density_covariate_balance export-ignore
tasks/density_historical_coordinates export-ignore
tasks/download_commercial_valuation_data export-ignore
tasks/download_osm_illinois_data export-ignore
tasks/download_parcel_proximity_data export-ignore
tasks/download_second_city_zoning_data export-ignore
tasks/download_tiger_blocks_2020 export-ignore
tasks/download_zillow_zori export-ignore
tasks/elms_enrich_matters export-ignore
tasks/elms_fetch_ordinances export-ignore
tasks/elms_pdf_processing export-ignore
tasks/event_study_treatment_maps export-ignore
tasks/geocode_ccao_data export-ignore
tasks/merge_in_scores export-ignore
tasks/new_construction_density_robustness export-ignore
tasks/new_construction_score_variants export-ignore
tasks/nonparametric_rd_density_donut export-ignore
tasks/nonparametric_rd_density_gap_split export-ignore
tasks/nonparametric_rd_density_linear_display export-ignore
tasks/nonparametric_rd_density_placebo export-ignore
tasks/old_zoning_data export-ignore
tasks/permit_stringency_table export-ignore
tasks/price_boundary_regressions export-ignore
tasks/price_rd_stress_tests export-ignore
tasks/price_rd_tables export-ignore
tasks/pruned_boundary_maps export-ignore
tasks/rental_benchmark_table export-ignore
tasks/rental_rd export-ignore
tasks/rental_rd_paired_balance export-ignore
tasks/rental_rd_rent_attenuation export-ignore
tasks/rental_rd_supply export-ignore
tasks/residential_improvements_data_cleaning export-ignore
tasks/rezoning_block_hand_adjudications export-ignore
tasks/rezoning_census_block_assignment export-ignore
tasks/rezoning_dataset export-ignore
tasks/rezoning_far_pre_geocode export-ignore
tasks/rezoning_geocode_enrich export-ignore
tasks/rezoning_geocode_external_merge export-ignore
tasks/rezoning_geocode_external_merge_ready export-ignore
tasks/rezoning_geocode_stage1_parcel export-ignore
tasks/rezoning_hand_adjudications export-ignore
tasks/summary_stats_new_construction export-ignore
tasks/within_ward_strictness export-ignore
tasks/zoning_data_cleaning export-ignore

# Shared files not used by the paper tasks.
tasks/_lib/border_pair_fe_regression_runner.R export-ignore
tasks/_lib/border_pair_helpers.R export-ignore
tasks/_lib/permit_event_study_sample_helpers.R export-ignore
tasks/_lib/restricted_renovation_classification.R export-ignore
tasks/_lib/test_nearest_segment_assignment.R export-ignore
